@import 'tailwindcss';
@plugin 'daisyui';

@theme {
  --color-category-story-reward: rgb(147, 101, 184);
  --color-category-field-icon: rgb(65, 168, 95);
  --color-category-treasure-chest: rgb(243, 121, 52);
  --color-category-chocograph: rgb(194, 144, 62);
  --color-category-wall-crack: rgb(209, 72, 65);
  --color-category-ocean-bubble: rgb(44, 130, 201);
  --color-trophy-gold: rgb(255, 215, 0);
  --color-trophy-silver: rgb(192, 192, 192);
  --color-trophy-bronze: rgb(173, 100, 25);
  --color-playstation-triangle: rgb(107, 228, 223);
  --color-playstation-circle: rgb(247, 95, 102);
  --color-playstation-cross: rgb(118, 126, 225);
  --color-playstation-square: rgb(246, 157, 200);
}

a {
  @apply text-primary;
}

img {
  @apply h-[16.5px] w-[16.5px] border-none p-0;
}

thead > tr > th {
  @apply whitespace-pre-line;
}
